@page
@using AutoMapper
@using PinhuaMaster.Data.Entities.Pinhua
@model PinhuaMaster.Pages.StockManagement.Inventory2Model
@{
    ViewData["Title"] = "库存查看";

}

<div class="box box-solid">
    <div class="box-body">
        <table class="table">
            <tbody>
                @foreach (var info in pinhuaContext.GetInventory())
                {
                <tr>
                    <td>@info.Warehouse</td>
                    <td>@info.ModelNumber</td>
                    <td>@info.Description</td>
                    <td>@info.Specification</td>
                    <td>@info.Qty</td>
                </tr>

                }
            </tbody>
        </table>
    </div>
</div>

