@page "{Y}/{M}"
@model PinhuaMaster.Pages.Attendance.EditModel
@using PinhuaMaster.Services
@inject IAttendanceService attendanceService
@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-3">
        <div class="box box-solid">
            <div class="box-body">
                <div class="form-horizontal" id="test">
                    <div class="form-group">
                        <label class="control-label col-xs-3">年 @PageContext.RouteData.Values["Y"]</label>
                        <div class="col-xs-9">
                            <div class="input-group">
                                <select class="form-control" v-model="Y" v-on:change="getMList" id="refreshY">
                                    <option v-for="(item,index) in YMList">{{item.Year}}</option>
                                </select>
                                <span class="input-group-addon">
                                    年
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">月</label>
                        <div class="col-xs-9">
                            <div class="input-group">
                                <select class="form-control" v-model="M" id="refreshM">
                                    <option v-for="(item,index) in MList" :value="item.Month" v-bind:disabled="isDisabled(item)">{{display(item)}}</option>
                                </select>
                                <span class="input-group-addon">
                                    月
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-9 col-xs-offset-3">
                            <button class="form-control btn btn-default btn-flat" onclick="toRefresh()">查询</button>
                            <input type="hidden" id="hiddenYMList" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-9 col-xs-offset-3">
                            <form method="post" asp-page="Create">
                                <button class="form-control btn btn-default btn-flat" type="submit">保存</button>
                                <input type="hidden" id="refreshJSON" name="jsonStr" />
                            </form>
                        </div>
                    </div>
                    <input type="hidden" value="@Url.Page("Create", "Ajax")" id="refreshUrl" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="box box-solid">
            <div class="box-body">
                <table data-toggle="table" class="table table-bordered table-striped table-hover" data-response-handler="responseHandler" id="computedTable">
                    <thead>
                        <tr>
                            <th data-width="1" data-formatter="fmtEastriver"></th>
                            <th data-sortable="true" class="hidden-xs" data-field="@(nameof(AttendanceServicePerson.Id))">编号</th>
                            <th data-sortable="true" data-field="@(nameof(AttendanceServicePerson.Name))">姓名</th>
                            <th data-sortable="true" data-formatter="fmtIsFullAttendance" data-field="@(nameof(AttendanceServicePerson.IsFullAttendance))">全勤</th>
                            <th data-field="@(nameof(AttendanceServicePerson.DaytimeHours))">正班</th>
                            <th data-field="@(nameof(AttendanceServicePerson.OvertimeHours))">加班</th>
                            <th data-field="@(nameof(AttendanceServicePerson.TotalHours))">出勤合计</th>
                            <th class="hidden-xs" data-field="@(nameof(AttendanceServicePerson.TimesOfDinner))">用餐</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</div>



