@page "{Y}/{M}"
@model PinhuaMaster.Pages.Attendance.EditModel
@using PinhuaMaster.Services
@inject IAttendanceService attendanceService
@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-3">
        <div class="box box-solid">
            <div class="box-body">
                <div class="form-horizontal" id="test">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <input class="form-control" id="refreshY" value="@PageContext.RouteData.Values["Y"]" readonly />
                                <span class="input-group-addon">
                                    年
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <input class="form-control" id="refreshM" value="@PageContext.RouteData.Values["M"]" readonly />
                                <span class="input-group-addon">
                                    月
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <button class="form-control btn btn-default btn-flat" onclick="getAttendance()"><i class="fa fa-refresh"></i> 刷新</button>
                            <input type="hidden" id="hiddenYMList" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <form method="post" asp-page="Edit">
                                <button class="form-control btn btn-default btn-flat" type="submit"><i class="fa fa-pencil"></i> 保存</button>
                                <input type="hidden" id="refreshJSON" name="jsonStr" />
                            </form>
                        </div>
                    </div>
                    <input type="hidden" value="@Url.Page("Create", "Ajax", new { Y=PageContext.RouteData.Values["Y"], M=PageContext.RouteData.Values["M"]})" id="refreshUrl" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="box box-solid">
            <div class="box-body">
                <table data-toggle="table"
                       class="table table-bordered table-striped table-hover"
                       data-response-handler="responseHandler"
                       data-url="@Url.Page("Edit","AjaxExsitedAttendanceData", new { Y=PageContext.RouteData.Values["Y"], M=PageContext.RouteData.Values["M"]})"
                       id="computedTable">
                    <thead>
                        <tr>
                            <th data-sortable="true" class="hidden-xs" data-field="@(nameof(AttendanceServicePerson.Id))" data-visible="false">编号</th>
                            <th data-sortable="true" data-field="@(nameof(AttendanceServicePerson.Name))">姓名</th>
                            <th data-sortable="true" data-formatter="fmtIsFullAttendance" data-field="@(nameof(AttendanceServicePerson.IsFullAttendance))">全勤</th>
                            <th data-field="@(nameof(AttendanceServicePerson.DaytimeHours))">正班</th>
                            <th data-field="@(nameof(AttendanceServicePerson.OvertimeHours))">加班</th>
                            <th data-field="@(nameof(AttendanceServicePerson.TotalHours))">总工时</th>
                            <th class="hidden-xs" data-field="@(nameof(AttendanceServicePerson.TimesOfDinner))">用餐</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        getAttendance = function () {
            //var refreshY = $('#refreshY').val()
            //var refreshM = $('#refreshM').val()
            //var refreshUrl = '/Attendance/Create?Handler=Ajax&Y=' + refreshY + '&M=' + refreshM
            var refreshUrl = $('#refreshUrl').val()
            var $table = $('#computedTable')
            $table.bootstrapTable('refresh', { url: refreshUrl });
        }

        function fmtIsFullAttendance(value, row) {
            if (value)
                return '<span class="text-danger">是</span>'
            else
                return '<span class="text-success">否</span>'
        }

        function responseHandler(res) {
            Y = res.Y
            M = res.M
            $('#refreshJSON').val(JSON.stringify(res))
            return res.PersonList
        }

    </script>
}