@page
@model IndexModel
@using Microsoft.EntityFrameworkCore

@{
    ViewBag.Title = "导航页";
}

<div class="row">
    <div class="col-lg-8">
        <div class=" box-">
            <div class="-body">
                <p>
                    <i class="fa fa-gears"></i> 基础设置
                </p>
                <div class="btn-group">
                    <a href="@Url.Page("/BasicInformation/ModelNumber/Index")" class="btn btn-app group-btn-app-margin"><i class="fa fa-gear"></i> 型号登记</a>
                    <a href="@Url.Page("/BasicInformation/ModelNumber/Create")" class="btn btn-default no-padding" style="height:60px;line-height:60px;">
                        <span class="fa fa-plus margin"></span>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="@Url.Page("/BasicInformation/ProductRegistration/Index")" class="btn btn-app group-btn-app-margin"><i class="fa fa-gear"></i> 产品登记</a>
                    <a href="@Url.Page("/BasicInformation/ProductRegistration/Create")" class="btn btn-default no-padding" style="height:60px;line-height:60px;">
                        <span class="fa fa-plus margin"></span>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="@Url.Page("/StockManagement/Warehouse/Index")" class="btn btn-app group-btn-app-margin"><i class="fa fa-gear"></i> 仓库登记</a>
                    <a href="@Url.Page("/StockManagement/Warehouse/Create")" class="btn btn-default no-padding" style="height:60px;line-height:60px;">
                        <span class="fa fa-plus margin"></span>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="@Url.Page("/BasicInformation/ProductRegistration/Index")" class="btn btn-app group-btn-app-margin"><i class="fa fa-gear"></i> 往来单位</a>
                    <a href="@Url.Page("/BasicInformation/ProductRegistration/Create")" class="btn btn-default no-padding" style="height:60px;line-height:60px;">
                        <span class="fa fa-plus margin"></span>
                    </a>
                </div>
                <p>
                    <i class="fa fa-arrow-circle-up"></i> 出库单
                </p>
                <a class="btn btn-app" href="@Url.Page("/StockManagement/StockOut/Index")">
                    <i class="fa fa-sticky-note-o"></i> 销售出库单
                </a>
                <a class="btn btn-app" href="@Url.Page("/StockManagement/StockSubconctracting/Index")">
                    <i class="fa fa-sticky-note-o"></i> 外协加工单
                </a>
                <a class="btn btn-app" href="@Url.Page("/OrderManagement/EasyDelivery/Index")">
                    <i class="fa fa-sticky-note-o"></i> 其他出库单
                </a>
                <p>
                    <i class="fa fa-arrow-circle-down"></i> 入库单
                </p>
                <a class="btn btn-app" href="@Url.Page("/StockManagement/StockIn/Index")">
                    <i class="fa fa-edit"></i> 采购入库单
                </a>
                <a class="btn btn-app" href="@Url.Page("/StockManagement/ProductionStockIn/Index")">
                    <i class="fa fa-edit"></i> 生产入库单
                </a>
                <a class="btn btn-app" href="@Url.Page("/OrderManagement/EasyPurchasing/Index")">
                    <i class="fa fa-edit"></i> 其他入库单
                </a>
                <p>
                    <i class="fa fa-table"></i> 库存管理
                </p>
                <a class="btn btn-app" href="@Url.Page("/StockManagement/Inventory")">
                    <i class="fa fa-bars"></i> 库存清单
                </a>
                <a class="btn btn-app" href="@Url.Page("/StockManagement/StockTransfer/Index")">
                    <i class="fa fa-exchange"></i> 库存移动
                </a>
                <a class="btn btn-app" href="@Url.Page("/StockManagement/StockTransfer/Index")">
                    <i class="fa fa-random"></i> 库存转换
                </a>
                <p>
                    <i class="fa fa-users"></i> 人力资源
                </p>
                <div class="btn-group">
                    <a href="@Url.Page("/Personnel/Files/Index")" class="btn btn-app group-btn-app-margin"><i class="fa fa-user"></i> 人员档案</a>
                    <a href="@Url.Page("/Personnel/Files/Create")" class="btn btn-default no-padding" style="height:60px;line-height:60px;">
                        <span class="fa fa-plus margin"></span>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="@Url.Page("/Attendance/Index")" class="btn btn-app group-btn-app-margin"><i class="fa fa-calendar"></i> 考勤报表</a>
                    <a href="@Url.Page("/Attendance/Create")" class="btn btn-default no-padding" style="height:60px;line-height:60px;">
                        <span class="fa fa-plus margin"></span>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="@Url.Page("/Payroll/Index")" class="btn btn-app group-btn-app-margin"><i class="fa fa-money"></i> 薪资计算</a>
                    <a href="@Url.Page("/Payroll/Create")" class="btn btn-default no-padding" style="height:60px;line-height:60px;">
                        <span class="fa fa-plus margin"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{ 
    <style>
        .group-btn-app-margin {
            margin: 0 0 10px 10px !important
        }
        .content-wrapper{
            background-color:#fff !important
        }
    </style>
}