@page
@model IndexModel
@using Microsoft.EntityFrameworkCore

@{
    ViewBag.Title = "导航页";
}

<div class="row">
    <div class="col-lg-8">
        <div class=" box-">
            <div class="-body">
                <p>
                    <i class="fa fa-gears"></i> 基础设置
                </p>
                <div class="btn-group group-btn-app-margin">
                    <button type="button" class="btn btn-app dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="fa fa-gear"></span> 型号登记
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Page("/BasicInformation/ModelNumber/Index")"><i class="fa fa-fw fa-list-ol"></i> 列表</a></li>
                        <li><a href="@Url.Page("/BasicInformation/ModelNumber/Create")"><i class="fa fa-fw fa-plus"></i> 新建</a></li>
                    </ul>
                </div>
                <div class="btn-group group-btn-app-margin">
                    <button type="button" class="btn btn-app dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="fa fa-gear"></span> 产品登记
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Page("/BasicInformation/ProductRegistration/Index")"><i class="fa fa-fw fa-list-ol"></i> 列表</a></li>
                        <li><a href="@Url.Page("/BasicInformation/ProductRegistration/Create")"><i class="fa fa-fw fa-plus"></i> 新建</a></li>
                    </ul>
                </div>
                <div class="btn-group group-btn-app-margin">
                    <button type="button" class="btn btn-app dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="fa fa-gear"></span> 仓库登记
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Page("/StockManagement/Warehouse/Index")"><i class="fa fa-fw fa-list-ol"></i> 列表</a></li>
                        <li><a href="@Url.Page("/StockManagement/Warehouse/Create")"><i class="fa fa-fw fa-plus"></i> 新建</a></li>
                    </ul>
                </div>
                <div class="btn-group group-btn-app-margin">
                    <button type="button" class="btn btn-app dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="fa fa-gear"></span> 合作单位
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Page("/BasicInformation/Partner/Index")"><i class="fa fa-fw fa-list-ol"></i> 列表</a></li>
                        <li><a href="@Url.Page("/BasicInformation/Partner/Create")"><i class="fa fa-fw fa-plus"></i> 新建</a></li>
                    </ul>
                </div>
                <p>
                    <i class="fa fa-arrow-circle-up"></i> 出库单
                </p>
                <div class="btn-group group-btn-app-margin">
                    <button type="button" class="btn btn-app dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="fa fa-sticky-note-o"></span> 销售出库单
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Page("/StockManagement/StockOut/Index")"><i class="fa fa-fw fa-list-ol"></i> 列表</a></li>
                        <li><a href="@Url.Page("/StockManagement/StockOut/Create")"><i class="fa fa-fw fa-plus"></i> 新建</a></li>
                    </ul>
                </div>
                <div class="btn-group group-btn-app-margin">
                    <button type="button" class="btn btn-app dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="fa fa-sticky-note-o"></span> 外协加工单
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Page("/StockManagement/StockSubconctracting/Index")"><i class="fa fa-fw fa-list-ol"></i> 列表</a></li>
                        <li><a href="@Url.Page("/StockManagement/StockSubconctracting/Create")"><i class="fa fa-fw fa-plus"></i> 新建</a></li>
                    </ul>
                </div>
                <div class="btn-group group-btn-app-margin">
                    <button type="button" class="btn btn-app dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="fa fa-sticky-note-o"></span> 其他出库单
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Page("/OrderManagement/EasyDelivery/Index")"><i class="fa fa-fw fa-list-ol"></i> 列表</a></li>
                        <li><a href="@Url.Page("/OrderManagement/EasyDelivery/Create")"><i class="fa fa-fw fa-plus"></i> 新建</a></li>
                    </ul>
                </div>
                <p>
                    <i class="fa fa-arrow-circle-down"></i> 入库单
                </p>
                <div class="btn-group group-btn-app-margin">
                    <button type="button" class="btn btn-app dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="fa fa-edit"></span> 采购入库单
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Page("/StockManagement/StockIn/Index")"><i class="fa fa-fw fa-list-ol"></i> 列表</a></li>
                        <li><a href="@Url.Page("/StockManagement/StockIn/Create")"><i class="fa fa-fw fa-plus"></i> 新建</a></li>
                    </ul>
                </div>
                <div class="btn-group group-btn-app-margin">
                    <button type="button" class="btn btn-app dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="fa fa-edit"></span> 生产入库单
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Page("/StockManagement/ProductionStockIn/Index")"><i class="fa fa-fw fa-list-ol"></i> 列表</a></li>
                        <li><a href="@Url.Page("/StockManagement/ProductionStockIn/Create")"><i class="fa fa-fw fa-plus"></i> 新建</a></li>
                    </ul>
                </div>
                <div class="btn-group group-btn-app-margin">
                    <button type="button" class="btn btn-app dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="fa fa-edit"></span> 其他入库单
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Page("/OrderManagement/EasyPurchasing/Index")"><i class="fa fa-fw fa-list-ol"></i> 列表</a></li>
                        <li><a href="@Url.Page("/OrderManagement/EasyPurchasing/Create")"><i class="fa fa-fw fa-plus"></i> 新建</a></li>
                    </ul>
                </div>
                <p>
                    <i class="fa fa-table"></i> 库存管理
                </p>
                <div class="btn-group group-btn-app-margin">
                    <button type="button" class="btn btn-app dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="fa fa-bars"></span> 库存清单
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Page("/StockManagement/Inventory")"><i class="fa fa-fw fa-list-ol"></i> 列表</a></li>
                    </ul>
                </div>
                <div class="btn-group group-btn-app-margin">
                    <button type="button" class="btn btn-app dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="fa fa-random"></span> 库存移动
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Page("/StockManagement/StockTransfer/Index")"><i class="fa fa-fw fa-list-ol"></i> 列表</a></li>
                        <li><a href="@Url.Page("/StockManagement/StockTransfer/Create")"><i class="fa fa-fw fa-plus"></i> 新建</a></li>
                    </ul>
                </div>
                <div class="btn-group group-btn-app-margin">
                    <button type="button" class="btn btn-app dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="fa fa-refresh"></span> 库存转换
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Page("/StockManagement/StockTransfer/Index")"><i class="fa fa-fw fa-list-ol"></i> 列表</a></li>
                    </ul>
                </div>
                <p>
                    <i class="fa fa-users"></i> 人力资源
                </p>
                <div class="btn-group group-btn-app-margin">
                    <a href="@Url.Page("/Personnel/Files/Index")" class="btn btn-app"><i class="fa fa-user"></i> 人员档案</a>
                    <a href="@Url.Page("/Personnel/Files/Create")" class="btn btn-default no-padding" style="height:60px;line-height:60px;">
                        <span class="fa fa-plus margin"></span>
                    </a>
                </div>
                <div class="btn-group group-btn-app-margin">
                    <a href="@Url.Page("/Attendance/Index")" class="btn btn-app"><i class="fa fa-calendar"></i> 考勤报表</a>
                    <a href="@Url.Page("/Attendance/Create")" class="btn btn-default no-padding" style="height:60px;line-height:60px;">
                        <span class="fa fa-plus margin"></span>
                    </a>
                </div>
                <div class="btn-group group-btn-app-margin">
                    <a href="@Url.Page("/Payroll/Index")" class="btn btn-app"><i class="fa fa-money"></i> 薪资计算</a>
                    <a href="@Url.Page("/Payroll/Create")" class="btn btn-default no-padding" style="height:60px;line-height:60px;">
                        <span class="fa fa-plus margin"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <style>
        .btn-group.group-btn-app-margin:not(:last-child) {
            margin: 0 10px 10px 0 !important
        }

        .btn-group.group-btn-app-margin:last-child {
            margin: 0 0 10px 0 !important
        }

        .group-btn-app-margin > .dropdown-menu {
            margin: -8px 0 0 0
        }

        .content-wrapper {
            background-color: #fff !important
        }
    </style>
}