@page "{Id}"
@model PinhuaMaster.Pages.Statement.DetailsModel
@{
    ViewData["Title"] = "查帐";
}

<div id="toolbar">
    <div class="label label-primary" style="font-size:14px;">金额：@Model?.StatementData?.应收合计?.ToString("0.00")</div>
</div>
<div class="box box-solid">

    <div class="box-body">
        <table data-toggle="table"
               data-toolbar="#toolbar"
               data-search="true"
               data-striped="true"
               data-pagination="true"
               data-page-size="50"
               data-page-list="[50, 100, 200, ALL]"
               data-group-by="true"
               data-group-by-field="[2]"
               data-sort-name="2"
               data-sort-order="desc"
               style="white-space:nowrap">
            <thead>
                <tr>
                    <th data-visible="false">业务类型</th>
                    <th>业务描述</th>
                    <th data-visible="false">日期</th>
                    <th data-visible="false">单号</th>
                    <th>产品描述</th>
                    <th>规格</th>
                    <th data-align="right" data-halign="center">片数</th>
                    <th data-align="right" data-halign="center">单位数量</th>
                    <th>计价单位</th>
                    <th data-align="right" data-halign="center">单价</th>
                    <th data-align="right">金额</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in Model.StatementData.明细)
                {
                    <tr>
                        <td>@record.Type</td>
                        <td>@record.TypeDescription</td>
                        <td>@record.Date.Value.ToString("yyyy-MM-dd")</td>
                        <td>@record.OrderId</td>
                        <td>@record.ItemDescription</td>
                        <td>@record.Specification</td>
                        <td>@record?.Qty?.ToString("0.00")</td>
                        <td>@record?.UnitQty?.ToString("0.0000")</td>
                        <td>@record.Unit</td>
                        <td>@record?.Price?.ToString("0.00")</td>
                        <td>@record?.Amount?.ToString("0.00")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>