@page
@model PinhuaMaster.Pages.Payroll.DetailsModel
@{
    ViewData["Title"] = "查看工资单";
}

<div class="row">
    <div class="col-md-8">
        <div class="box box-solid">
            <div class="box-body">
                <button class="btn btn-default pull-right" onclick="toDelete('@Model.RcId')"><i class="fa fa-remove"></i> 删除</button>

            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-8">
        <div class="box box-solid">
            <div class="box-body">
                <table id="table"
                       data-toggle="table"
                       data-classes="table table-striped"
                       data-row-style="rowStyle"
                       style="white-space:nowrap;">
                    <thead>
                        <tr>
                            <th data-visible="false">编号</th>
                            <th>姓名</th>
                            <th>岗位</th>
                            <th data-visible="false">性别</th>
                            <th data-visible="false">是否全勤</th>
                            <th>工价</th>
                            <th>工时</th>
                            <th>工资</th>
                            <th>用餐</th>
                            <th class="hidden-xs">实发</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var payroll in Model.PayrollList)
                        {
                            <tr>
                                <td>@payroll.Id</td>
                                <td>@payroll.Name</td>
                                <td>@payroll.Post</td>
                                <td>@payroll.Sex</td>
                                <td>@payroll.IsFullAttendance</td>
                                <td>@payroll.PriceOverview</td>
                                <td>@payroll.AllHours</td>
                                <td>@payroll.AllHoursAmountWithFullAttendance</td>
                                <td>@payroll.DinnerAmount</td>
                                <td>@payroll.FinalAmount</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                
            </div>
        </div>
    </div>

</div>

<form method="post" asp-page="Delete" id="toDeleteForm">
    <input type="hidden" id="toDeleteRcid" name="rcId" />
</form>

@section Scripts{
    <script>
        function toDelete(rcid) {
            if (confirm('确定删除这条记录吗？')) {
                $('#toDeleteRcid').val(rcid);
                $('#toDeleteForm').submit();
            }
        }
    </script>
}