@page
@model PinhuaMaster.Pages.Payroll.DetailsModel
@{
    ViewData["Title"] = "查看工资单";
}

<div class="row">
    <div class="col-md-8">
        <div class="box box-solid">
            <div class="box-header">
                <a asp-page="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i> 返 回</a>
                <button class="btn btn-default pull-right" onclick="toDelete('@Model.RcId')"><i class="fa fa-remove"></i> 删 除</button>
            </div>
            <div class="box-body">
                <table id="table"
                       data-toggle="table"
                       data-url="@Url.Page("Details","AjaxGetDetails",new { Model.Y, Model.M})"
                       data-classes="table table-striped"
                       data-row-style="rowStyle"
                       data-show-footer="true"
                       style="white-space:nowrap;">
                    <thead>
                        <tr>
                            <th data-field="@(nameof(ViewModel.PayrollDetailsDTO.Id))" data-visible="false">编号</th>
                            <th data-field="@(nameof(ViewModel.PayrollDetailsDTO.Name))">姓名</th>
                            <th data-field="@(nameof(ViewModel.PayrollDetailsDTO.Post))">岗位</th>
                            <th data-field="@(nameof(ViewModel.PayrollDetailsDTO.IsFullAttendance))" data-visible="false">是否全勤</th>
                            <th data-field="@(nameof(ViewModel.PayrollDetailsDTO.PriceOverview))">工价</th>
                            <th data-field="@(nameof(ViewModel.PayrollDetailsDTO.AllHours))" data-formatter="fmtDetailHours">工时</th>
                            <th data-field="@(nameof(ViewModel.PayrollDetailsDTO.AllHoursAmountWithFullAttendance))" data-formatter="fmtAmount">工资</th>
                            <th data-field="@(nameof(ViewModel.PayrollDetailsDTO.TimesOfDinner))">用餐</th>
                            <th data-field="@(nameof(ViewModel.PayrollDetailsDTO.DinnerAmount))">餐费</th>
                            <th data-field="@(nameof(ViewModel.PayrollDetailsDTO.FinalAmount))" data-formatter="fmtAmount" data-footer-formatter="fmtFooter" class="hidden-xs">实发</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</div>

<form method="post" asp-page="Delete" id="toDeleteForm">
    <input type="hidden" id="toDeleteRcid" name="rcId" />
</form>

@section Scripts{
    <script>
        function toDelete(rcid) {
            if (confirm('确定删除这条记录吗？')) {
                $('#toDeleteRcid').val(rcid);
                $('#toDeleteForm').submit();
            }
        }
    </script>

    <script>
        function rowStyle(row, index) {
            var classes = ['active', 'success', 'info', 'warning', 'danger'];
            if (row.IsFullAttendance) {
                return {
                    classes: 'text-danger'
                    //classes: 'text-bold'
                };
            }
            else
                return {
                    //classes: 'text-success'
                    classes: ''
                };
        }

        function fmtHours(value, row) {
            if (!value)
                return ""
            return value.toFixed(1)
        }

        function fmtDetailHours(value, row) {
            return row.AllHours.toFixed(1) + ' ( ' + row.DaytimeHours.toFixed(1) + ' / ' + row.OvertimeHours.toFixed(1) + ' )'
        }

        function fmtAmount(value, row) {
            return value.toFixed(2)
        }

        function fmtFooter(data) {
            var sum = 0
            for (var i in data) {
                sum += parseFloat(data[i].FinalAmount)
            }
            return sum.toFixed(2)
        }
    </script>
}