@page
@model PinhuaMaster.Pages.MenuSystem.IndexModel
@inject Microsoft.Extensions.FileProviders.IFileProvider fileProvider;
@inject ApplicationDbContext DbContext;
@{
    ViewData["Title"] = "Index";
}

<div class="panel panel-default" style="margin-top:20px;">
    <div class="panel-heading" style="position:relative">
        <div class="panel-title">Index</div>
        <div style="position:absolute;top:5px;right:10px;" class="pull-right"><a class="btn btn-primary btn-sm" asp-page="Create"><i class="fa fa-plus"></i>　新建</a></div>
    </div>
    <form method="post">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <tr>
                    <th>#</th>
                    <th>菜单名称</th>
                    <th>菜单编号</th>
                    <th>父级编号</th>
                    <th>组内排序</th>
                    <th>菜单类型</th>
                    <th>菜单图标</th>
                    <th>菜单路径</th>
                    <th>操作</th>
                </tr>
                @foreach (var menu in Model._menus)
            {
                <tr>
                    <td></td>
                    <td>@menu.Name</td>
                    <td>@menu.Id</td>
                    <td>@menu.ParentId</td>
                    <td>@menu.IndexCode</td>
                    <td>@menu.MenuType</td>
                    <td>@menu.Icon</td>
                    <td>@menu.Url</td>
                    <td>
                        <div class="btn-toolbar" role="toolbar" aria-label="...">
                            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                <a class="btn btn-default" asp-page="Edit" id="@menu.Id" asp-route-id="@menu.Id">编辑</a>
                                <a class="btn btn-default" asp-page="Details" id="@menu.Id" asp-route-id="@menu.Id">详情</a>
                            </div>
                            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                <input type="submit" class="btn btn-danger" asp-page-handler="delete" asp-route-id="@menu.Id" value="删除" />
                            </div>
                        </div>
                    </td>
                </tr>
        }
            </table>
        </div>
    </form>
    <div class="panel-footer">
    </div>
</div>